@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-color: #8ea59b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
  .bg-gray-100 {
    background-color: #fff;
  }
  /* .bg-[#8ea59b] {
    background-color: #8ea59b !important;
  } */
  .text-black {
    color: #000 !important;
  }
  .text-white {
    color: #fff !important;
  }
  .border-white {
    border-color: #fff !important;
  }
  .container {
    margin: 0;
    padding: 0;
  }
  .clip-path-header {
    clip-path: none;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

p,
i {
  font-size: 3rem;
}

.clip-path-header {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}

p {
  line-height: 1.5;
}

.letter-spacing {
  letter-spacing: 1rem;
}

.theme-text-color {
  color: var(--theme-color);
}

.theme-bg-color {
  background-color: var(--theme-color);
}
