@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-color: #8ea59b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}

body {
  @apply font-sans;
  font-family: "Lato", Arial, sans-serif;
  background-color: #fff;
}

p,
i {
  font-size: 3rem;
}

h1,
h2 {
  letter-spacing: 1rem;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h3 {
  letter-spacing: 0.3rem;
}

h3 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.clip-path-header {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}

p {
  line-height: 1.1;
}

.letter-spacing {
  letter-spacing: 1rem;
}

.theme-text-color {
  color: var(--theme-color);
}

.theme-bg-color {
  background-color: var(--theme-color);
}
